.nav{
    background-color: rgba(118, 169, 175, 0.644);
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.nav-links{
    text-align: right;
}

.nav-button{
    background-color: aquamarine;
    border: 2px solid;
    cursor: pointer;
    margin: 2px;
    border-radius: 8px;
    padding: 3px;
}