.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.nav {
  background-color: rgba(118, 169, 175, 0.644);
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-title {
  margin-right: auto;
}

.nav-button {
  color: white;
  background-color: skyblue;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin: 4px;
}

.nav-button:hover {
  background-color: black;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}
